<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Book form</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>Book</h1>

<div>
	<form th:object= ${book} th:action="@{/save}" action="#" method="post">
	
	<p>Title: <input type="text" th:field="${book.title}" /></p>
	<p>Author: <input type="text" th:field="${book.author}" /></p>
	<p>ISBN: <input type="text" th:field="${book.isbn}" /></p>
	<p>Year: <input type="text" th:field="${book.year}" /></p>
	<p>Price: <input type="text" th:field="${book.price}" /></p>
						
		<label for="catlist">Category</label>
		<select id="catlist" th:field="*{category}" class="form-control">
    	  	<option th:each="category:${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
    	</select>
		
		<div style="clear: both; display: block; height: 10px;"></div>
		<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
	</form>
</div>
	
</body>
</html>